<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/loginpage.css' />
  <script src="/javascripts/forgetpassword.js"></script>
</head>
<body ng-app="myapp" ng-controller="mycntrl">
  
  <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Forgot password?</h1>
            <div class="account-wall">
                
                <form class="form-signin">
                <input type="text" class="form-control" placeholder="Enter Email or UserID" required autofocus ng-model="forget.name" >
                <br>

                <button class="btn btn-lg btn-primary btn-block" type="button" ng-show="otp"ng-click="checkemail(forget)" >
                    Get OTP</button>
                 <br>   
                
                <input type="text" class="form-control" placeholder="Enter valid OTP"  ng-show="hide" ng-model="forget.otp">
                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click=" validate(forget) "ng-show="hide1" >
                    Validate</button>
                    <br>

                <input type="text" class="form-control" placeholder="Enter new password"  ng-show="pass"ng-model="forget.pwd" > 
                <br> 
                <input type="text" class="form-control" placeholder="Confirm password"  ng-show="pass" ng-model="forget.cpwd">
                <br>
                <button class="btn btn-lg btn-primary btn-block" ng-show="pass"type="button" ng-click=" password(forget) "ng-show="hide" >
                    Update password</button>
                
                
                </form>
            </div>
           <!--  <a href="#" class="text-center new-account">Create an account </a> -->
        </div>
    </div>
</div>
</body>
</html>
